language: node_js
node_js:
- '7'
before_install:
- npm i npm-cli-login -g
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- npm who
install:
- npm install jsdoc -g
- npm install
script:
- ./ci/build.js
- ./ci/shim.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js
env:
  secure: "CisFwZ3LvAKFIOqpdNsRYnTWGRvvrkKeXWgb0sD+sRDPRjc655LyAvTtloq5qeK5RXN0b1fR5K3zrHhbgBwkWwG/naInful2UP/b4zN2F26g9u8BY0pFMw2d7iLbZ/kMIukojSF76CMK4Ws9dFlwQ43S96Up1HXVmIXqVQnaQgBxHIy+YFS8l3e0ZNRAm+lgMHEytPKGBhb3dD4cw8EiV8chuvACqI000/x5r81Hi2wTi4Jrzq0nRyx+Nlkm/28QNbFgjJo7zuJqPxn+Zv4lJZC69M6HXv1cbTq+2HArM/4A5Nnzx9srTbyN460+36HDszH7VwE8F03+C5EbDCLKG7sC+pvvdrX2B0J2lHtm9QZ41tp159LCuReJcEpR2RRYYTTwflY4iuxZkYyRdTLp01Df1jPgzvprBiZL/csnEOFscv9cWO8VGgWCGa7yDWmaBmuD9+WTY/cPqIug2k4DHx63DegG0oRNltWKpIJXAtoqqWK0YtqSAdxkMwdFmT0plykJ2arr+Rfoxg5LJTrKg4jWatXniGlow3JtDU8mdJ7tySrO+6cy3bAWDZ25+6h9QEuqCfrpl4zXdtaX/TPHAHVoBb/JAW8JVW8TFZkq5cqZaz3MQJb4OAexktL3Qi5kCJRLVfLpFIqEBG1GpfyKhk8YGN4wv17aFThPi7GZjJM="
